* {
    margin: 0;
}

/* animations */
  @-webkit-keyframes colorchange {
    0% {
      
      color: #3CC157;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: #1B1B1B;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  }

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
    z-index: -10;
    overflow: hidden;
  }
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aparoksha_logo {
    cursor: pointer;
    position: fixed;
    margin-left: 7%;
}


/* main logo 2 */
.main_logo{
    margin-top: 20vh;
    width: 590px;
    height: 287px;
    cursor: pointer;
    
}

/* #The flagship quiz event of Aparoksha */
.tagline{
    margin-top: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 26px;
    color: #000000;
    -webkit-animation:colorchange 20s infinite alternate;
}

/* nav */
ul{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 400px;
    max-width: 500px; 
}

li{
    list-style: none;
    display: inline;
}

.underline {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
  }
.underline:hover {
    background-size: 100% 88%;
  }

.black{
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    /* font-weight: bold; */
    line-height: normal;
    font-size: 30px;
    color: #000000;
}

.yellow{
    font-family: Roboto;
    font-style: normal;
    /* font-weight: bold; */
    line-height: normal;
    font-size: 30px;
    color: #D67D2D;
    cursor: pointer;
}

/* Register */


.register{
    width: 429px;
    height: 73px;
    margin-top: 40px;
    margin-bottom: 30px;
    background: #FF5ED3;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.register:hover{
    transform: scale(1.04);
}
.register-text{
    cursor: pointer;
}




.modal_about {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_faq {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_gallery {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content about */
.modal_content_about {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal_content_faq {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal_content_gallery {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close_about {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_about:hover,
.close_about:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close_faq {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_faq:hover,
.close_faq:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close_gallery {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_gallery:hover,
.close_gallery:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.about_event_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: #FF007B;
}

.timeline_title {
  font-family: Roboto;
  font-style: normal;
  color: #263238;
  margin-left: 10%;
}

.about_event_1 {
    text-align: left;
    max-width: 80%;
    padding-left: 20px;
    padding-right: 20px; 
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    color: #004A73;;
    font-size: 18px;
}

.about_event_2 {
  text-align: left;
  max-width: 80%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #008891;
  font-size: 18px;
}




@import url(https://fonts.googleapis.com/css?family=PT+Sans);
body {
  margin: 0;
  font-family: PT Sans, sans-serif;
  background-color: #fcfcfc;
  color: #000;
}

.container {
  margin-left: 10%;
  margin-top: 20px;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  padding-top: 5px;
  padding-bottom: 2rem;
}
.container::-webkit-scrollbar {
  height: 45px;
}
.container::-webkit-scrollbar-thumb {
  background-color: transparent;
  background-clip: content-box;
  border-radius: 100%;
  border: 20px solid transparent;
}

.entries {
  margin-right: -10000px;
  margin-left: 1rem;
}

.timeline {
  position: absolute;
  box-sizing: border-box;
  width: 575px;
  height: 0.7rem;
  background-color: beige;
  background-clip: content-box;
  border-width: 0.2rem 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(0, 0, 0, 0.1);
}

.entry {
  float: left;
  max-width: 170px;
  position: relative;
  text-align: center;
  margin: 0 1rem;
  margin-top: 0.7rem;
}
.entry .dot {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  background-color: powderblue;
  left: 50%;
  margin-left: -0.6rem;
  margin-top: -0.95rem;
  border-radius: 100%;
  box-sizing: border-box;
  background-clip: content-box;
  border-width: 0.16rem;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1), inset 0 0 0.4em rgba(255, 255, 255, 0.1), inset 0 0.4rem 0.1rem rgba(255, 255, 255, 0.3);
  -moz-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -o-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  -webkit-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
  transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
}

.entry:hover .dot {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: -0.8rem;
  margin-top: -1.15rem;
  background-color: thistle;
}
.entry:hover .label {
  margin-top: 2.5rem;
  background-color: #d0e8e4;
  border-bottom: 0.5rem solid transparent;
}

.label {
  display: inline-block;
  position: relative;
  background-color: #e1f0ee;
  background-clip: padding-box;
  margin-top: 3rem;
  padding: 0.4rem 0.8rem 0.8rem;
  border-radius: 0.2rem;
  -moz-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -o-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  -webkit-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
  border-bottom: 0 solid transparent;
}
.label .time {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0 0 0.4rem;
  padding: 0 0.3rem 0.3rem;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.label .detail {
  font-size: 0.8rem;
}
.label:before {
  content: "";
  display: block;
  position: absolute;
  background-color: inherit;
  background-clip: content-box;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  left: 50%;
  margin-top: -0.9rem;
  margin-left: -0.5rem;
  transform-origin: center;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}
.label a {
  color: #000;
  text-decoration: none;
}
.label a:before {
  content: "[";
}
.label a:after {
  content: "]";
}

.entry.life .label {
  background-color: #e1f0e4;
}

.entry.life:hover .label {
  background-color: #d0e8d5;
}

.entry.study .label {
  background-color: #e1e8f0;
}

.entry.study:hover .label {
  background-color: #d0dbe8;
}


/* social */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

.notify {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-family: 'Droid Sans Mono', sans-serif;
  opacity: .9;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  color: #fff;
  border: 3px solid #3a7999;

  background-color: #008BD3;
}
#notify {
  text-decoration: none;
  color: white;
  border: 3px solid #3a7999;

}
.notify .icon {
  float: left;
  color: #fff;
  font-size: 1.4em;
  margin-right: 30px;
}
.notify:hover{
  border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
}
